body, html {
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
}
.num {
    display: inline-block;
    margin-right: 2px;
    color: #fff;
}

.red {
    background-color: red;
}

#info-holder {
    position: fixed;
    bottom: 0;;
}


#actions_area {
    background-color: rgb(99, 22, 243);
    padding: 15px;
    color: #fff;
}
.animate{
    animation: animate 0.2s;
}

@keyframes animate {
    from {height: 0px}
    to {}
}